/*-------------------------------------------
  Entry Styles
-------------------------------------------*/
.entry {
  p, ol, ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
  ol {
    list-style: decimal;
  }
}
.entry_stamp {
  font-weight: 700;

  @include min-up($tablet) {
    margin-left: -1.5em;
  }
}
