{% extends './layouts/default.twig' %}

{% set title = 'Journey Log: Pek Jorkins' %}
{% set id = 'home' %}
{% set data_page = 'home' %}

{% block body %}
<div class="init">
  <strong>Initializing…</strong>
  <div class="init_progress"><span></span></div>
  <ul class="init_steps">
    <li>Connecting to server…</li>
    <li>Authenticating…</li>
    <li>Retrieving data…</li>
  </ul>
</div>

<main>
  <h1 class="page-title"><span class="hdg">Journey Log: Pek Jorkins</span></h1>

  <ol class="log"></ol><!-- /.log -->

  <form class="console">
    <ul class="fields">
      <li class="console-bash">
        <label class="caret" for="console-bash" data-for="console-bash"><span class="meta">Enter Command</span></label>
        <input type="text" name="bash" id="console-bash" class="console_inp" maxlength="50" autofocus />
      </li>
      <li class="console-uname">
        <label class="console_lbl" for="console-uname">Email:</label>
        <span class="caret" data-for="console-uname"></span>
        <input type="text" name="uname" id="console-uname" class="console_inp" maxlength="50" />
      </li>
      <li class="console-pass">
        <label class="console_lbl" for="console-pass">Password:</label>
        <span class="caret" data-for="console-pass"></span>
        <input type="password" name="uname" id="console-pass" class="console_inp" maxlength="50" />
      </li>
    </ul>
  </form><!-- /.console -->

  <form class="submit">
    <textarea id="entry-body" class="console_inp"></textarea>
    <button type="submit">Submit Entry</button>
  </form>
</main>
{% endblock %}
